.container {
    height: 340%;
    width: 100%;
}

#music {
    height: 500px;
    width: 1000px;
    display: block;
    margin-left: 10%;
    margin-right: 10%;

}


ul {
    list-style-type: none;
}

#p {
    margin-left: 10%;
    margin-right: 10%;
}

.button {
    background-color: red; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    margin-left: 10%;
    margin-top: 20px;
 
}

.media {
    float: right;
    margin-top: -443px;
}

h4 {
    font-size: 50px;
}

footer {
    background: red;
}

p {
    margin-left: 10%;
    font-size: 60px;
    text-align: left;
}

li {
    border-bottom: 5px solid black;
    font-size: 30px;
    padding: 10px;
     
}

#button {
    margin: 0%;
    padding: 50px 10px;
}

section {
    font-size: 60px;
    margin-left: 10%;
}



/* Small and up (Landscape Phones) */
@media (min-width: 0px) {
    .top2 {
        display:none;
    }
}
/* Medium and up (Tablets) */
@media (min-width: 768px) {

footer {
    display:none;
}

.top2 {
    display:none;
}

/* Large and up (Desktops) */
@media (min-width: 992px) {

    .top2 {
        display:inline-block;
    }
}
/* Extra Large and up (Wide Screen Desktops) */
@media (min-width: 1200px) {

}