.container {
    height: 340%;
    width: 100%;
}

#music {
    height: 500px;
    width: 500px;
    display: block;
    margin-left: 25%;
}

ul {
    list-style-type: none;
}

#p {
    margin-left: 25%;
    margin-right: 25%;
}

.button {
    background-color: red; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    margin-left: 25%;
    margin-top: 20px;
 
}

.media {
    float: right;
    margin-top: -443px;
}

h4 {
    font-size: 50px;
}

footer {
    background: red;
}

p {
    display: inline-block;
    text-align: center;
    margin-left: 25%;
    font-size: 60px;
}

li {
    border-bottom: 5px solid black;
    font-size: 30px;
    padding: 10px;
     
}

#button {
    margin: 0%;
    padding: 50px 10px;
}

section {
    font-size: 60px;
    margin-left: 25%;
}