body {

}

header {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

nav {
    text-align: center;
    color:black;
    word-spacing: 20px;
    margin-bottom: 30px;
}

main {
    background-image: url(./main.jpg);
    height:500px;

}

.maintext {
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 50%;
    margin-right: 20%;
    font-size: 20px;
}

h4 {
    background-color: white;
    color: black;
    padding: 10px;
}

h6 { 
    background-color: black;
    color:white;
    padding: 10px;
}

button {
    background-color:teal;
    margin-right: 40%;
    height: 50px;
    width: 100px;
}

.three {
    display: flex;
    justify-content: space-evenly;
    padding:50px
}

p {
    text-align: center;
    padding: 30px;
    font-weight: 400;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    word-spacing: 2px;
    font-size: 20px;
}

footer {
    height: 150px;
    background-color: black;
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.foot {
    display: flex;
}

.last {
    padding: 30px;
    font-size: 30px;
}

i {
    border: 2px solid white;
    padding: 5px
}

a {
    color:black;
    text-decoration: none;
}

li {
    list-style-type: none;
}

img {
    border: 5px solid black
}

body{
    width: 100%;
 }
 .main-container {
    width: 1400px;
    margin: 0 auto;
 }

@media (max-width: 600px) {
    .three {
        display: flex;
        flex-direction: column;
    }
}git 